@font-face {
    font-family: 'HelveticaNeueBlackCondensed';
    src: url('../fonts/HelveticaNeueBlackCondensed.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
}
